<div class="container bg-secondary">
  <form action="" [formGroup]="employeeForm" (ngSubmit)="submitForm()">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Employer Form</h2>
      </div>
    </div>
    <div
      class="employee"
      formArrayName="employees"
      *ngFor="let emp of employees.controls; let i = index"
    >
      <!-- 
        In this case, we are specifically iterating over the controls of 
        the array by adding 
        dot controls after the array name
        giving the index I to track the controls and that index we bind with the division using
        the form group name attribute directive.
      -->
      <div [formGroupName]="i" class="row">
        <div class="col-md-6 col-lg-6">
          <label for="">Name</label>
          <input
            class="employee-fields"
            type="text"
            formControlName="name"
            placeholder="Enter employee name..."
          />
        </div>
        <div class="col-md-6 col-lg-6">
          <label for="">Job</label>
          <input
            class="employee-fields"
            type="text"
            formControlName="job"
            placeholder="Enter employee job..."
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-around">
        <button
          type="button"
          class="btn btn-primary add-button"
          (click)="addEmployee()"
        >
          Add Employee
        </button>
        <button type="submit" class="btn btn-primary submitt-button">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
